<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лаборатнорная работа</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>